<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=3.0">
    <title>Actor Search</title>
</head>
<body>
    <a href="/favorites"><button>View Favorites</button></a>
    <h1>Actor Search</h1>
    <form action="/" method="post">
        <label for="query">Enter actor name:</label>
        <input type="text" id="query" name="query" required>
        <button type="submit">Search</button>
    </form>
    {% if actors %}
        <h2>Search Results for "{{ query }}":</h2>
        <ul>
            {% for actor in actors['docs'] %}
                <li>Name: {{ actor['name'] }}</li>
                <li>Birth Year: {{ actor['birthYear'] }}</li>
                <li>Country: {{ actor['country'] }}</li>
                <li>
                    <form action="/add_actor/{{ actor['id'] }}" method="post">
                        <button type="submit">Add to Favorites</button>
                    </form>
                </li>
                <br>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
