<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" type="text/css" href="static/index.css">
</head>
<body>
<h1>KinopoiskApiDev</h1>
<div class = 'center'><a href="/favourites"><button>View Favorites</button></a></div>
<form action="/" method="post">
    <label for="query">Enter movie or actor name:</label>
    <input type="text" id="query" name="query" required>
    <label for="search_type">Search for:</label>
    <select id="search_type" name="search_type">
        <option value="movies">Movies</option>
        <option value="actors">Actors</option>
    </select>
    <button type="submit">Search</button>
</form>
{% if results %}
    <h2>Search Results for "{{ query }}":</h2>
    {% if search_type == 'movies' %}
        <h3>Movies:</h3>
        <ul>
            {% for movie in results['docs'] %}
                <li>Title: {{ movie['alternativeName'] or movie['name'] or movie['enName'] }} ({{ movie['year'] }})</li>
                <li>Rating: {{ movie['rating']['kp'] }} / 10</li>
                <li>
                    <form action="/add_movie/{{ movie['id'] }}" method="post">
                        <button type="submit">Add Movie to Favorites</button>
                    </form>
                </li>
                <br>
            {% endfor %}
        </ul>
    {% elif search_type == 'actors' %}
        <h3>Actors:</h3>
        <ul>
            {% for actor in results['docs'] %}
                <li>Name: {{ actor['name'] }}</li>
                <li>English Name: {{ actor['enName'] }}</li>
                <li>Age: {{ actor['age'] }}</li>
                <li>
                    <form action="/add_actor/{{ actor['id'] }}" method="post">
                        <button type="submit">Add Actor to Favorites</button>
                    </form>
                </li>
                <br>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
</body>
</html>